--color_0: 255,255,255;
  --color_1: 255,255,255;
  --color_2: 0,0,0;
  --color_3: 237,28,36;
  --color_4: 0,136,203;
  --color_5: 255,203,5;
  --color_6: 114,114,114;
  --color_7: 176,176,176;
  --color_8: 255,255,255;
  --color_9: 114,114,114;
  --color_10: 176,176,176;
  --color_11: 243,243,243;
  --color_12: 227,227,227;
  --color_13: 199,199,199;
  --color_14: 138,138,138;
  --color_15: 0,0,0;
  --color_16: 250,206,112;
  --color_17: 238,163,2;
  --color_18: 146,100,2;
  --color_19: 117,81,4;
  --color_20: 89,62,3;
  --color_21: 255,190,182;
  --color_22: 255,157,146;
  --color_23: 255,59,37;
  --color_24: 170,39,25;
  --color_25: 85,20,12;
  --color_26: 188,235,237;
  --color_27: 167,216,217;
  --color_28: 128,216,218;
  --color_29: 42,145,146;
  --color_30: 19,84,84;
  --color_31: 233,179,255;
  --color_32: 223,141,255;
  --color_33: 190,26,255;
  --color_34: 127,17,170;
  --color_35: 63,9,85;
  --color_36: 243,243,243;
  --color_37: 0,0,0;
  --color_38: 227,227,227;
  --color_39: 199,199,199;
  --color_40: 138,138,138;
  --color_41: 146,100,2;
  --color_42: 238,163,2;
  --color_43: 89,62,3;
  --color_44: 243,243,243;
  --color_45: 0,0,0;
  --color_46: 0,0,0;
  --color_47: 199,199,199;
  --color_48: 146,100,2;
  --color_49: 146,100,2;
  --color_50: 243,243,243;
  --color_51: 243,243,243;
  --color_52: 146,100,2;
  --color_53: 146,100,2;
  --color_54: 199,199,199;
  --color_55: 199,199,199;
  --color_56: 243,243,243;
  --color_57: 243,243,243;
  --color_58: 146,100,2;
  --color_59: 146,100,2;
  --color_60: 146,100,2;
  --color_61: 146,100,2;
  --color_62: 243,243,243;
  --color_63: 243,243,243;
  --color_64: 199,199,199;
  --color_65: 199,199,199;

:root {
  --wst-button-color-fill-primary: rgb(146,100,2);
  --wst-button-color-border-primary: rgb(146,100,2);
  --wst-button-color-text-primary: rgb(243,243,243);
  --wst-button-color-fill-primary-hover: rgb(var(--color_51));
  --wst-button-color-border-primary-hover: rgb(var(--color_52));
  --wst-button-color-text-primary-hover: rgb(var(--color_53));
  --wst-button-color-fill-primary-disabled: rgb(var(--color_54));
  --wst-button-color-border-primary-disabled: rgb(var(--color_55));
  --wst-button-color-text-primary-disabled: rgb(var(--color_56));
  --wst-button-color-fill-secondary: rgb(var(--color_57));
  --wst-button-color-border-secondary: rgb(var(--color_58));
  --wst-button-color-text-secondary: rgb(var(--color_59));
  --wst-button-color-fill-secondary-hover: rgb(var(--color_60));
  --wst-button-color-border-secondary-hover: rgb(var(--color_61));
  --wst-button-color-text-secondary-hover: rgb(var(--color_62));
  --wst-button-color-fill-secondary-disabled: rgb(var(--color_63));
  --wst-button-color-border-secondary-disabled: rgb(var(--color_64));
  --wst-button-color-text-secondary-disabled: rgb(var(--color_65));
  --wst-color-fill-base-1: rgb(var(--color_36));
  --wst-color-fill-base-2: rgb(var(--color_37));
  --wst-color-fill-base-shade-1: rgb(var(--color_38));
  --wst-color-fill-base-shade-2: rgb(var(--color_39));
  --wst-color-fill-base-shade-3: rgb(var(--color_40));
  --wst-color-fill-accent-1: rgb(var(--color_41));
  --wst-color-fill-accent-2: rgb(var(--color_42));
  --wst-color-fill-accent-3: rgb(var(--color_43));
  --wst-color-fill-accent-4: rgb(var(--color_44));
  --wst-color-fill-background-primary: rgb(var(--color_11));
  --wst-color-fill-background-secondary: rgb(var(--color_12));
  --wst-color-text-primary: rgb(var(--color_15));
  --wst-color-text-secondary: rgb(var(--color_14));
  --wst-color-action: rgb(var(--color_18));
  --wst-color-disabled: rgb(var(--color_39));
  --wst-color-title: rgb(var(--color_45));
  --wst-color-subtitle: rgb(var(--color_46));
  --wst-color-line: rgb(var(--color_47));
  --wst-font-style-h2: var(--font_2);
  --wst-font-style-h3: var(--font_3);
  --wst-font-style-h4: var(--font_4);
  --wst-font-style-h5: var(--font_5);
  --wst-font-style-h6: var(--font_6);
  --wst-font-style-body-large: var(--font_7);
  --wst-font-style-body-medium: var(--font_8);
  --wst-font-style-body-small: var(--font_9);
  --wst-font-style-body-x-small: var(--font_10);
}