@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: avenir;
  src: url('./assets/font/avenir-lt.otf');
}

@font-face {
  font-family: work-sans;
  src: url('./assets/font/WorkSans-SemiBold.ttf');
}

@layer utilities {
  .flex-join {
    @apply flex items-center justify-center;
  }

  .flex-apart {
    @apply flex items-center justify-between;
  }
}

.normal-pad {
  @apply px-4 md:px-[7.5rem];
}

.lead-btn {
  @apply size-[83px] md:size-[140px] rounded-full flex-join border border-black font-medium text-sm md:text-[22px];
}
