@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: avenir;
  src: url('./assets/font/avenir-lt.otf');
}

@font-face {
  font-family: work-sans;
  src: url('./assets/font/WorkSans-SemiBold.ttf');
}
:root {
  --orange: rgb(238, 163, 2)
}
@layer utilities {
  .flex-join {
    @apply flex items-center justify-center;
  }

  .flex-apart {
    @apply flex items-center justify-between;
  }
}



.normal-pad {
  @apply px-2 md:px-10
}

.lead-btn {
  @apply size-[83px] md:size-[140px] rounded-full flex-join border border-black font-work_sans_sm text-sm md:text-[22px];
}

.menu-span {
  @apply w-full h-0.5 bg-black block origin-right
}
